.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #000;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
}

.chat-history {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat-bubble {
  max-width: 70%;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 1.4;
  word-wrap: break-word;
  background-color: #282A2C;
}

.chat-bubble.user {
  background-color: #282A2C;
  color: white;
  align-self: flex-end;
  /* border: 0.3px solid #4d62dc; */
}

.chat-bubble.bot {
  background-color:  #282A2C;
  color: white;
  align-self: flex-start;
}



.chat-input-area {
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 20px;
  gap: 8px;
  padding: 12px;
  border-top: 1px solid #000;
  background: #000;
  color: white;
  background-color: #000;
}


.chat-input-area input[type="text"] {
  flex: 1;
  padding: 12px 14px;
  border: 2px solid #000;
  outline: none;
  font-size: 15px;
  border-radius: 12px;
  background-color: #282A2C;
  color: white;

}

.chat-input-area input[type="file"] {
  height: 1px;
  width: 1px;
  overflow: hidden;
  background-color: black;
  color: black;
  border: none;
}



.file-preview {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 100%;
  max-height: 65px;     
  overflow-y: auto;       
  overflow-x: hidden;
}

.file-chip {
  background: #282A2C;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.file-chip button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
}


.chat-input-area button .attach-btn {
  padding: 10px 12px;
  font-size: 18px;
  background: #000;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 12px;

}

.attach-btn:hover {
  background: #000;
  /* border: 0.3px solid #4d62dc; */
}



.chat-input-area button {
  padding: 10px 18px;
  background: #282A2C;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;

}

.chat-input-area button:hover {
  background: #000;
}




.canvas-wrapper {
  margin-top: 16px;
  padding: 12px;
  border-top: 1px solid #ddd;
}

.script-canvas {
  width: 100%;
  /* min-height: 250px; */
  padding: 12px;
  font-family: monospace;
  font-size: 14px;
  /* resize: vertical; */
}

.floating-menu {
  position: absolute;
  background: #1f1f1f;
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  z-index: 999;
}

.floating-menu button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 13px;
}

.floating-menu button:hover {
  text-decoration: underline;
}











