.floating-menu {
  position: absolute;
  background: #1f1f1f;
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  z-index: 999;
  /* position: "absolute", */
}

.floating-menu button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 13px;
}

.floating-menu button:hover {
  text-decoration: underline;
}
