.sidebar {
  background-color: #000;
  color: white;
  width: 220px;
  height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.sidebar button {
  background: #282A2C;
  color: white;
  border: 6px solid black;
  border-radius: 12px;
  margin: 10px 0;
  padding: 8px;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
}

.chat-list {
  border-radius: 12px;
  flex: 1;
  margin-top: 10px;
  overflow-y: auto;
  background-color: #000;
}

.chat-item {
  padding: 8px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 5px;
  cursor: pointer;

}

.chat-item.active {
  background: #282A2C;
  color: white;
  font-weight: 600;
  border-radius: 12px;
}


